*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
.vscode/
.idea/
*.swp
*.swo
*.swn
*.un~
*~
.DS_Store
.netrwhist
Session.vim
.exrcbin/
build/
dist/
config.local.json
*.local.yml
*.tar.gz
startup.log
GHP
GHP.pub
GHP
*.pub
